{
    email tzyu@yu.money
}

# CodiMD
{$CODIMD_DOMAIN} {
    reverse_proxy codimd:3000
    
    # Security Headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }
}

# n8n
{$N8N_DOMAIN} {
    reverse_proxy n8n:5678 {
        # WebSocket Support
        header_up X-Forwarded-Proto "https"
        header_up Host {host}
    }

    # Security Headers
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        Permissions-Policy "interest-cohort=()"
        X-XSS-Protection "1; mode=block"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }
}
